type akm8963_device, dev_type;
type ap_device, dev_type;
type audio_capture_device, dev_type;
type bluetooth_device, dev_type;
type botablk_device, dev_type;
type hiddenblk_device, dev_type;
type bootblk_device, dev_type;
type userdatablk_device, dev_type;
type cacheblk_device, dev_type;
type tombstoneblk_device, dev_type;
type tdatablk_device, dev_type;
type diag_device, dev_type;
type dumpstate_device, dev_type;
type dw_mmc_device, dev_type;
type ecryptfs_device, dev_type;
type efsblk_device, dev_type;
type emmcblk_device, dev_type;
type hpd_device, dev_type;
type hsic_device, dev_type;
type i2c_device, dev_type;
type io_device, dev_type;
type keychord_device, dev_type;
type knox_dar_device, dev_type;
type m9kefsblk_device, dev_type;
type mali_device, dev_type, mlstrustedobject;
type mbin_device, dev_type;
type mdns_device, dev_type;
type mfc, dev_type;
type mif_device, dev_type;
type mobicore_device, dev_type;
type mobicore-user_device, dev_type;
type modem_device, dev_type;
type multipdp_device, dev_type;
type otablk_device, dev_type;
type paramblk_device, dev_type;
type persdatablk_device, dev_type;
type prop_device, dev_type;
type psaux_device, dev_type;
type pts_device, dev_type;
type pvrsync_device, dev_type;
type qseecom_device, dev_type;
type radioblk_device, dev_type;
type recoveryblk_device, dev_type;
type report_device, dev_type;
type s5p_smem_device, dev_type;
type secmem_device, dev_type;
type secure_storage_device, dev_type;
type seiren_device, dev_type;
type sensor_device, dev_type;
type srp_device, dev_type;
type swap_device, dev_type;
type sync_device, dev_type;
type systemblk_device, dev_type;
type timerirq_device, dev_type;
type tzic_device, dev_type;
type uart_device, dev_type;
type ump_device, dev_type;
type validity_device, dev_type;
type vfsspi_device, dev_type;
type vibrator_device, dev_type;
type vmware_device, dev_type;
type hw_random_device, dev_type;
type usb_serial_device, dev_type;
type mdm_device, dev_type;
type uinput_device, dev_type;
type kgsl_device, dev_type;
type fm_radio_device, dev_type;
type fimg2d_video_device, dev_type;
type drmserver_socket, dev_type; 
type epm_socket, dev_type; 
type mtpd_socket, dev_type; 
type kipc_socket, dev_type; 
type cfiat_socket, dev_type; 
type msockets_socket, dev_type; 
type audio_socket, dev_type;
type radio_socket, dev_type;

