import init.universal5420.usb.rc
import init.universal5420.wifi.rc
import init.samsung.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/shell/container 0700 system system
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/emulated 0555 root root

    #External storage directories
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/usbdisk 0000 system system
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw

    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /mnt/shell/container /storage/container
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/sdcard1 /external_sd
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    mkdir /efs 0771 radio system

on early-init
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/scheduler noop

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler row

    # Interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:40000 1500000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/check_fast_target_loads "50 1000000:66"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 9999999
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 100000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads 85

    # Configure the cpu-boost module
    #write /sys/module/cpu_boost/parameters/boost_ms 10
    #write /sys/module/cpu_boost/parameters/input_boost_freq 1200000
    #write /sys/module/cpu_boost/parameters/input_boost_ms 40

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    setprop vold.post_fs_data_done 1

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# For kernel lock in BT/WiFi race condtion
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

# Added for TZ Playready DRM Support
    mkdir /efs/drm 0700 drm system
    mkdir /efs/drm/playready 0775 drm system

    #Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

# Bluetooth dhcpcd config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
	disabled
	oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
	disabled
	oneshot

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    setprop ro.radio.noril yes
    stop ril-daemon

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    setprop ro.build.product universal_5420
    setprop ro.product.device universal_5420
#    chmod 0666 /dev/pvrsrvkm

# mobicore
    mkdir /data/app/mcRegistry 0775 system system
    chmod 0700 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user

# DRK permission
    mkdir /efs/prov 0770 radio system
    chown radio system /efs/prov_data
    chmod 0770 /efs/prov_data
    chown radio system /efs/prov_data/dev_root
    chmod 0770 /efs/prov_data/dev_root
    chown radio system /efs/prov_data/knox
    chmod 0770 /efs/prov_data/knox
    chown radio system /efs/prov_data/dev_root/dev_root.dat
    chmod 0640 /efs/prov_data/dev_root/dev_root.dat
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libdevkm.lock
    write /efs/prov/ffffffff00000000000000000000000c.tlbin 0
    chown radio system /efs/prov/ffffffff00000000000000000000000c.tlbin
    chmod 0660 /efs/prov/ffffffff00000000000000000000000c.tlbin

# CS socket
    mkdir /dev/socket/cs_socket 0770 system system

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/input/input1/enabled
    chmod 0660 /sys/class/input/input1/enabled
	chown system radio /sys/class/sec/sec_touchscreen/set_tsp_for_inputmethod

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/enable_disable
    chown system radio /sys/class/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touch_update
    chown system radio /sys/class/sec/sec_touchkey/touch_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/extra_button_event
    chown root system /sys/class/sec/sec_touchkey/tsp_keys_enabled

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
    chown system radio /dev/akm8963
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# Gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/vendor
    chown system radio /sys/class/sensors/gesture_sensor/name
    chown system radio /sys/class/sensors/gesture_sensor/raw_data
    chown system radio /sys/class/sensors/gesture_sensor/ir_current
    chown system radio /sys/class/sensors/gesture_sensor/selftest
# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/vendor
    chown system radio /sys/class/sensors/temphumidity_sensor/name
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver
    chown system radio /sys/class/sensors/temphumidity_sensor/send_accuracy

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/flash/rear_flash
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    write /proc/sys/vm/swappiness 130

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chown radio system /sys/devices/platform/mali.0/dvfs_table
    chown radio system /sys/devices/platform/mali.0/dvfs_min_lock
    chown radio system /sys/devices/platform/mali.0/dvfs_max_lock
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chmod 664 /sys/devices/platform/mali.0/dvfs_table
    chmod 664 /sys/devices/platform/mali.0/dvfs_min_lock
    chmod 664 /sys/devices/platform/mali.0/dvfs_max_lock
    chmod 664 /sys/class/thermal/thermal_zone0/boost_mode

# Core Control
    chown radio system /sys/devices/system/b.L/b.L_core_stat
    chmod 0660 /sys/devices/system/b.L/b.L_core_stat
    chown radio system /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu3/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu3/cpuidle/state1/disable

# Core temp sensor
    chown radio system /sys/devices/platform/exynos5-tmu/temp
    chown radio system /sys/devices/platform/exynos5-tmu/curr_temp

# Quadrant Benchmark
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chmod 0664 /sys/class/thermal/thermal_zone0/boost_mode
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table

# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask

    chown system radio /sys/module/asv_exynos/parameters/asv_group

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# terminal mode
	chmod 0660 /sys/class/android_usb/android0/terminal_version
	chown system system /sys/class/android_usb/android0/terminal_version

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

# Permissions for Barcode Emul
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status

on fs

# Support Preload install apks
    mkdir /preload 0771 system system

    mount_all /fstab.universal5420
    setprop ro.crypto.fuse_sdcard true

#For Absolute Persistence Partition 
    mkdir /persdata 0755 system system 
    mkdir /persdata/absolute 0750 system system 
      
    wait /dev/block/platform/dw_mmc.0/by-name/PERSDATA 
    # check_fs /dev/block/platform/dw_mmc.0/by-name/PERSDATA ext4 
    mount ext4 /dev/block/platform/dw_mmc.0/by-name/PERSDATA /persdata/absolute nosuid nodev barrier=1 
      
    chown system system /persdata 
    chmod 0755 /persdata 
    chown system system /persdata/absolute 
    chmod 0750 /persdata/absolute 

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type

# Permissions for MDNIE
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass

 # Permissions for TCON
    chown system system /sys/class/tcon/tcon/lux
    chown system system /sys/class/tcon/tcon/auto_br
    chown system media_rw /sys/class/tcon/tcon/mode

# Switch Device
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/chg_type

# Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

# GPS
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/flash/rear_flash
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start
    oneshot

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

on property:ro.fuse_sdcard=true
    start sdcard

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0
	disabled

# Bluetooth LE 2 wired Test
service LE_dut_cmd_on /system/bin/bttestintf enable
    group bluetooth net_bt_admin
    disabled
    oneshot

service LE_dut_cmd_off /system/bin/bttestintf disable
    group bluetooth net_bt_admin
    disabled
    oneshot

service bttestdaemon /system/bin/bttestd
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# for ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# Kick watchdogd if debug_level is low
on property:ro.debug_level=0x4f4c
	start watchdogd

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1
# SecEDS
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group graphics
on property:ro.SecEDS.enable=false
    stop TvoutService_C

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin
    class core
    user system
    group system    

# LPM
on charger
    mount ext4 /dev/block/mmcblk0p18 /system wait ro
    class_start sec-charger

service sec-playlpm /system/bin/lpm
    class sec-charger
    critical

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
     class main
     user root
     disabled
     oneshot

# start for TZPR provisioning version check app
on property:sys.mobicoredaemon.enable=true
    start scranton_RD

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:ro.securestorage.support=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage

# CS service
service cs_service /system/bin/cs
    class main
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start cs_service

# umount service
service umount_service /system/bin/umount /preload
    disabled
    oneshot
    
# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/mmcblk0p20 /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

service swapon /sbin/sswap -s
    class core
    user root
    group root
    oneshot
